@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Bold.ttf");
  font-weight: bold;
}
