
:host {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #0e9aa7;
  background-image:url('/assets/images/angular.png');
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: bottom 1rem right 1.5rem;
}
